/* Universal styles */
html {
    font-size: 16px;
    font-family: 'Lexend Mega', sans-serif;
}

.image-container {
    overflow: hidden;
  }
  
  .image-container img, .teammate img {
    display: block;
    max-width: 100%;
  }


/* header styles */

header {
    display: flex;
    padding: 2rem;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    text-align: center;
}

header .content h1 {
    font-size: 3rem;
    font-weight: 700;
    padding: 1rem;
}

header .content nav ul li {
    display: inline-block;
    padding: 1.5rem;
}

header .content nav ul li a {
    text-decoration: underline;
    font-size: 1.375rem;
}

header .content nav ul li a:hover{
    cursor: pointer;
}

/* misson statement */

#banner {
    background-image: url("../images/skyscrapers.jpg");
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    height: 18.75rem;
    align-items: center;
    justify-content: center;
}

.mission-statment {
    width: 100%;
}

.mission-statment h2 {
    padding: .625rem;
    background-color: white;
    width: 100%;
    text-align: center;
    font-size: 2rem;
    font-weight: 500;
    line-height: 1.5;
}

.mission-statment p {
    width: 100%;
    background-color: white;
    width: 100%;
    text-align: center;
    padding: 1rem;
    font-size: 1.5rem;
    line-height: 1.4;
}

/* Portfolio section */

.portfolio .content {
    width: 100%;
    display: flex;
    flex-direction: column;
}
.portfolio .heading {
    padding: 2rem;
    text-align: center;
    font-size: 2rem;
    margin: 2rem;
}

.portfolio .heading h2{
    font-weight: 600;
    padding: 2rem;
}

.portfolio .heading p{
    font-weight: 400;
    font-size: 1.5rem;
}

.images-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.image-container img {
    margin-left: auto;
    margin-right: auto;
    width: 200px;
    height: auto;
    padding: 10px;
    float: left;
}


.portfolio .content .image-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.portfolio .content .image-container span {
    float: right;
    padding: 5px;
    min-width: 240px;
    font-weight: bold;
    text-align: center;
}
/* Team section */

.team-section .content {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 1rem;
    
}

.team-section .content h2{
    font-weight: 500;
    padding: 2rem;
    font-size: 2rem;
}

.content .team {
    display: flex;
    background-image: url("../images/blurred-road.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}

.teammate {
    width: 300px;
    color: white;
    font-size: 2rem;
}

.teammate img {
    margin-top: 1rem;
    margin-left: auto;
    margin-right: auto;
    width: 200px;
    height: auto;
    padding: 10px;
}
.teammate h3 {
    font-weight: 700;
    padding: 1rem;
}

.teammate p{
    margin-bottom: 2rem;
}
/* contact section */

.contact-section {
    padding-top: 2rem;
}

.contact {
    padding-top: 2rem;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.contact h2, .contact h5 {
    padding-top: 1rem;
}

/*footer section */

footer .content {
    text-align: center;
    padding: 2rem;
    margin-top: 2rem;
    font-size: 1.5rem;
}
